<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <p><h1>추가되었습니다.</h1></p>
        <p><%=userid%> 님이 <%=date%>에 <%=food%>을(를) 드셨습니다.</p>
        <p><a href='./add_eaten_food'>더 추가하러 가기</a></p>
        <p><a href='#'>피드백 받기</a></p>        
    </body>

</html>