<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
      <div class="box">

        <p><%=food%> 이(가) 등록되지 않은 음식이거나 날짜 입력이 잘못되었습니다.</p>

        <p><a href='./add_eaten_food'>되돌아가기</a></p>
        </div>
    </body>

</html>
