<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <title></title>
  </head>
  <body>

    <div class="form">
      <h1>Welcome!</h1>
      <p class="quote">오늘의 명언: <%=quote%> </p>
    </div>

    <div class="nav">
    <input type="checkbox">
      <span></span>
      <span></span>
      <div class="menu">
         <li><a href="/feedback">Feedback</a></li>
         <li><a href="/diary">Diary</a></li>
         <li><a href="/weight">Weight</a></li>
         <li><a href="/">categories</a></li>
         <li><a href="/">about</a></li>
      </div>
  </div>
  </body>
</html>
