<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>MENU</h1>
    <h3>안녕하세요!</h3>
    <p class="quote">오늘의 명언: <%=quote%> </p>
    <form method="POST" action='/feedback'>
       <button>먹은 음식 입력</button>
    </form>
    <br>
    <form method="POST" action='/diary'>
       <button>다이어리</button>
    </form>
  </body>
</html>
