<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
      <div class="box">
        <p><%=food%> 은(는) 등록되지 않은 음식입니다.</p>

        <p><a href='./like_food'>되돌아가기</a></p>
      </div>   
    </body>

</html>
