<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <p><%=food%> 은(는) 등록되지 않은 음식입니다.</p>

        <p><a href='./like_food'>되돌아가기</a></p>   
    </body>

</html>