<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Login</h1>
<form method="POST" action='/login'>
 <label>id :</label><input type="text" class="form" name="id"><br>
 <label class="pw">pw :</label><input type="password" class="form" name="password">
<button type="submit"> 로그인</button>
</form>
  <a href = "/register">Back to register page</a>
  </body>
</html>
