<!doctype html>
        <html>
        <head>
            <title>수분 섭취 기록 - <%=title%></title>
            <meta charset="utf-8">
             <link rel="stylesheet" href="/stylesheets/add_food.css">
        </head>
        <body>
          <a href ="/home" ><img src="https://image.flaticon.com/icons/svg/2948/2948025.svg" class="home"></a>
          <a href='/logout' > <img src="https://image.flaticon.com/icons/svg/126/126467.svg" class="home logout"></a>
          <section>
          <div class="like_food">
            <h1><a href="/water">수분 섭취 기록</a></h1>
            <h2><u><%=title%>컵</u>을 마셨어요~</h2>
            <p><%=description%></p>
            <ul class="like_list">
                <li><a href="/water/page/1">1컵</a></li>
                <li><a href="/water/page/2">2컵</a></li>
                <li><a href="/water/page/3">3컵</a></li>
                <li><a href="/water/page/4">4컵</a></li>
                <li><a href="/water/page/5">5컵</a></li>
                <li><a href="/water/page/6">6컵</a></li>
                <li><a href="/water/page/7">7컵</a></li>
                <li><a href="/water/page/8">8컵</a></li>
                <li><a href="/water/page/9">9컵</a></li>
                <li><a href="/water/page/10">10컵</a></li>
            </ul>
            </div>
      </section>
        </body>
        </html>
