<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <div class="form">
    <form method="GET" action='/login'>
      <h1>WELCOME!</h1>
      <p class="joined">회원이신가요?</p>
       <input type="submit" name="submit" value="Login">
    </form>
    <form method="GET" action='/register' >
      <p class="lead">아직 회원이 아니신가요?</p>
       <input type="submit" name="submit" value="Sign Up">
    </form>
  </div>
  </body>
</html>
