/* ADD EATEN FOOD */
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  /* background:#666; */
  background: #34495e;
}
h1, p{
  color: white;
}

.eaten_food{
  width: 400px;
  padding:20px;
  text-align:center;
  background: #191919;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eaten_food input{
width: 200px;
padding: 5px 0px;
/* background: transparent; */
border: 0;
border-bottom: 1px solid #435160;
margin: 10px auto;
outline: none;
/* color: #6D7781; */
font-size: 16px;
}

.eaten_food h1{
  margin: auto auto 30px auto;
}

.eaten_food input[type="submit"]{
  background: #3498db;
  border: 0;
  width: 200px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
}

/* home and logout button */
.home{
  width:30px;
  height:30px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(66deg) brightness(101%) contrast(105%);
  position: absolute;
  right: 70px;
  top:20px
}
.logout{
  right: 20px;
}
