body{
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  background: #34495e;
}

.water{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.water h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.water a, p{
  color: white;
}




.home{
  width:30px;
  height:30px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(66deg) brightness(101%) contrast(105%);
  position: absolute;
  right: 70px;
  top:20px
}
.logout{
  right: 20px;
}
